
/*Main Head Title*/
h1{ 
    color:rgb(164, 164, 0);
    background-color: rgb(240, 240, 240);
    text-align: center;
    /*font family LATER*/
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color:rgb(164, 164, 0);
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: 0.25em;
}

/*Other headings*/
h2{
    color:rgb(164, 164, 0);
    background-color: rgb(240, 240, 240);
    text-align: left;
    font-size: 18pt;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color:rgb(164, 164, 0);
    font-family: 'Lucida Sans Unicode', 'Helvetica', 'Arial', sans-serif;
    letter-spacing: 0.25em;
}

p.quote{
    background-color:rgb(255, 255, 168);
    font-style: italic;
    margin-left: 40px;
    margin-right: 40px;
}

p.copyRight{
    font-family: monospace;
}

/*body*/
body{
    background-color: white;
    color:rgb(64, 64, 64);
    font: 11pt;
    display: block;
    margin-left:20px ;
    margin-right: 20px;
    font-family: 'Georgia', 'Garamond', sans-serif;   
}
.Body2 a{
    color:rgb(64, 64, 64);
    text-decoration: underline;
}

.Body2 a{
    color:black;
}

ul{
   list-style-image: url("pics/pie_bullet.png");

}


/*image*/
.imgPie{
    width: 200px;
    height: 200px;   
}

.imgPie img{
    width: 100%;
    height: 100%;
}

/*Linked Text*/
.Body5 a:link{
    color:rgb(164, 164, 0);
    text-decoration: underline;

}
.Body5 a:visited{
    color:rgb(164, 164, 0);
}

